In [13]:
import yaml
from pprint import pprint
from functions import excelCombiner

In [14]:
with open('params.yaml', 'r', encoding='UTF-8' ) as f:
    params = yaml.safe_load(f)
pprint(params)

{'directory': 'C:/Users/alsta/PycharmProjects/Jira_attachmets_downloader/downloads',
 'notNANcolumnsList': ['ИНН участника'],
 'sheet_name': 'Внесение изменений'}

### Зададим параметры в соответствии с записанными в params.yaml значениями

In [3]:
directory = params['directory']
sheet_name = params['sheet_name'] 
notNANcolumnsList = params['notNANcolumnsList']

### При необходимости их можно скорректировать здесь

In [ ]:
directory = 'C:/Users/alsta/PycharmProjects/Jira_attachmets_downloader/downloads'
sheet_name = 'Внесение изменений'
notNANcolumnsList = ['ИНН участника']

### Запустим функцию объединения с заданными параметрами

In [4]:
df, log_df = excelCombiner(directory=directory, sheet_name=sheet_name, notNANcolumnsList=notNANcolumnsList)

### Проведем исследование данных

In [5]:
log_df.groupby(['errorMeassge']).count()

                                       fileName
errorMeassge
No sheet named <'Внесение изменений'>       250
['ИНН участника']                             1

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 197263 entries, 0 to 5
Data columns (total 25 columns):
 #   Column                                                  Non-Null Count   Dtype
---  ------                                                  --------------   -----
 0   ИНН участника                                           197263 non-null  object
 1   GTIN
(Код товара)                                       195780 non-null  object
 2   Статус карточки                                         196993 non-null  object
 3   Статус КМ                                               92729 non-null   object
 4   Наименование атрибута                                   195139 non-null  object
 5   Текущее значение атрибута                               193910 non-null  object
 6   Новое значение атрибута                                 194079 non-null  object
 7   fileName                                                197263 non-null  object
 8   GTIN                                                    1483 non-null    float64
 9   Unnamed: 7                                              2050 non-null    object
 10  Наименование атрибута.1                                 108 non-null     object
 11  Текущее значение атрибута.1                             123 non-null     object
 12  Новое значение атрибута.1                               108 non-null     object
 13  Unnamed: 8                                              76802 non-null   object
 14  Жирность, %                                             0 non-null       float64
 15  Текущее значение атрибута (ТНВЭД)                       3004 non-null    float64
 16  Новое значение атрибута (ТНВЭД)                         3004 non-null    float64
 17  Текущее значение атрибута (группа ТНВЭД)                1502 non-null    float64
 18  Новое значение атрибута               (группа ТНВЭД)    1502 non-null    float64
 19  Текущее значение атрибута (код ТНВЭД)                   1502 non-null    float64
 20  Новое значение атрибута                    (код ТНВЭД)  1502 non-null    float64
 21  кто редактирует                                         76751 non-null   object
 22  Товарный знак                                           1 non-null       object
 23  АТРИБУТ                                                 34 non-null      object
 24  КОД ТОВАРА УПАКОВКИ
(групповой штрихкод)               34 non-null      float64
dtypes: float64(9), object(16)
memory usage: 39.1+ MB

In [11]:
df2 = df[['fileName', 'ИНН участника']].groupby(['fileName']).count().describe()
df2

       ИНН участника
count     371.000000
mean      531.706199
std      5089.930019
min         1.000000
25%         1.000000
50%         6.000000
75%        30.000000
max     76751.000000

In [12]:
df2.loc[df2['ИНН участника']>3000]

     ИНН участника
std    5089.930019
max   76751.000000